apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: chatbot-data-pvc
  labels:
    app: chatbot-todo-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
