apiVersion: v1
kind: Service
metadata:
  name: {{ include "chatbot-todo-app.fullname" . }}
  labels:
    {{- include "chatbot-todo-app.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.containerPort }}
      {{- if eq .Values.service.type "NodePort" }}
      nodePort: {{ .Values.service.nodePort }}
      {{- end }}
      protocol: TCP
      name: http
  selector:
    {{- include "chatbot-todo-app.selectorLabels" . | nindent 4 }}
